<nav>
  <ul>
    <li><strong>Furniture</strong></li>
  </ul>
  <ul>
    <li><a href="http://localhost:8080/products">All</a></li>
    <li><a href="http://localhost:8080/products?group=Table">Table</a></li>
    <li><a href="http://localhost:8080/products?group=Lightning">Lightning</a></li>
    <li><a href="http://localhost:8080/products?group=Garden">Garden</a></li>
    <li><a href="#">Registro</a></li>
  </ul>
</nav>
<h1>Nuestros productos</h1>
    <nav>
    <ul>
        <li><a href="http://localhost:8080/products?sort=asc">Asc</a></li>
        <li><a href="http://localhost:8080/products?sort=desc">Des</a></li>
    </ul>
    </nav>
    <div  class="grid">
    {{#each payload}}
        <div>
            <div>
                <p>{{ this.title }}</p>
                <small>${{ this.price }} / </small>
                <small>Stock: {{ this.stock }}</small>
                <hr/>
            </div>
        </div>
    {{/each}}
    </div>
    <br/>

<h6>Pagina actual: {{page}}</h6>
<a href="{{prevLink}}" role="button" class="contrast outline" {{#unless hasPrevPage}}disabled{{/unless}}>Anterior</a>
<a href="{{nextLink}}" role="button" class="contrast outline" {{#unless hasNextPage}}disabled{{/unless}}>Siguiente</a>



